<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-4">
				<%= link_to(image_tag(@model.image(:medium)), @model.image.to_s, target: "_blank", class: "img-responsive") %>
			</div>
			<div class="col-md-8">
				<p class="lead"><strong><%= @model.brand.name %> <%= @model.name %></strong></p>
				<p class="lead"><%= @model.description %></p>
				<% if true_cart %>
					<div class="row">
						<div class="col-md-4">
							<%= form_for OrderItem.new do |f| %>
			          <%= f.hidden_field :model_id, value: @model.id %>
			          <%= f.hidden_field :cart_id, value: true_cart.id %>
			          <%= f.submit "Dodaj v košarico", class: "btn btn-block btn-success" %>
			        <% end %>
			      </div>
			    </div>
			  <% end %>
			</div>
		</div>
	</div>
</div>