<p id="notice"><%= notice %></p>

<p>
  <strong>Ime:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Priimek:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Naslov:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>E-pošta:</strong>
  <%= @user.email %>
</p>